{% extends "menu.html" %}

{% block title %}Convention {{ context.convention.nom_convention }}{% endblock %}

{% block content %}


    <h1>{{ context.convention.nom_convention }} </h1>

    <p>{{ context.convention.description }} </p>

    <h2>Informations sur le client</h2>

    <p><strong>Nom :</strong> {% if has_permission(current_user, 'peut_lire_clients') %}
        <a href="{{ url_for('client_detail', client_id=context.client.client_id) }}">{{ context.client.nom_entreprise }}</a>{% else %}
        {{ context.client.nom_entreprise }}{% endif %} </p>
    <p><strong>Contact :</strong> {{ context.client.contact_nom }}</p>
    <p><strong>Email :</strong> <a
            href="mailto:{{ context.client.contact_email }}">{{ context.client.contact_email }}</a></p>
    <p><strong>Telephone :</strong> <a
            href="tel:{{ context.client.contact_telephone }}">{{ context.client.contact_telephone }}</a></p>
    <p><strong>Type :</strong> {{ context.client.type_client }}</p>
    <p><strong>Interlocuteur principal :</strong> {% if has_permission(current_user, 'peut_lire_utilisateurs') %}
        <a href="{{ url_for('utilisateurs.utilisateurs_detail', uid=context.utilisateur.utilisateur_id) }}">{{ context.utilisateur.nom }}</a>{% else %}
        {{ context.utilisateur.nom }}{% endif %} </p>
    <p><strong>Adresse :</strong> {{ context.client.addresse }}</p>




    <h2>Projet(s) lié(s) à la convention</h2>
    {% if has_permission(current_user, 'peut_gerer_projets') %}
        <div>
            <a href="{{ url_for('conventions.create_projet_convention', convention_id= context.convention.convention_id) }}"
               class="primary-button">Ajouter un projet</a>
        </div>
    {% endif %}


    {% if context.projets %}
        <div class="clients-projets-liste">
            <div class="clients-projets-entete">
                <span>Nom du projet</span>
                <span>Statut</span>
                <span>Budget</span>
            </div>
            <ul>
                {% for projet in context.projets %}
                    <li class="projets_associes_pageconv"
                        onclick="window.location.href='{{ url_for('projet_detail', projet_id=projet.projet_id) }}'">
                        <span>{{ projet.nom_projet }}</span>
                        <span>{{ projet.statut }}</span>
                        <span>{{ projet.budget }} €</span>
                    </li>
                {% endfor %}
            </ul>

        </div>
    {% else %}
        <p> Aucun projet associé à cette convention</p>
    {% endif %}


{% endblock %}