{% extends "menu.html" %}

{% block title %}Création d'une nouvelle convention{% endblock %}

{% block content %}
  <h1> Ajout d'une nouvelle convention </h1>
  {% if context.success %}
  <h2 class="success-message"> Convention ajoutée avec succès! </h2>
  {% endif %}
  <br>
    <form class="form-create-client" method="post" style="display : flex; flex-direction: column; gap: 5px;">
      <div class="input-box">
        <label class="form-label" for="nom_conv">Nom de la convention</label>
        <input id="nom_conv" name="nom_conv" type="text" placeholder="Nom de la convention" required maxlength="200">
        <div class="field-error" id="error-nom_conv"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="desc_conv">Description</label>
        <input id="desc_conv" name="desc_conv" type="text" placeholder="Description de la convention" maxlength="800">
        <div class="field-error" id="error-desc_conv"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="date_deb"> Date de début de la convention (si applicable)</label>
        <input name="date_deb" type="date" id="date_deb">
        <div class="field-error" id="error-date_deb"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="date_fin"> Date de fin de la convention (si applicable)</label>
        <input name="date_fin" type="date" id="date_fin">
        <div class="field-error" id="error-date_fin"></div>
      </div>

      <div class="input-box">
      <label class="form-label" for="doc_conv">Lien vers le contrat associé</label>
      <input id="doc_conv" name="doc_conv" type="url" placeholder="Lien vers le contrat" maxlength="400">
      <div class="field-error" id="error-doc_conv"></div>
      </div>
      <div class="input-box">
      <label class="form-label" for="client_id">Client</label>
      <select id="client_id" name="client_id" required>
          <option value=""> -- Avec quel client la convention est-elle passée? -- </option>
          {% for i in context.clients %}
          <option value="{{i.client_id}}"> {{i.nom_entreprise}} </option>
          {% endfor %}
      </select>
      <div class="field-error" id="error-client_id"></div>
      </div>

      <input type="submit" class="primary-button" value="Ajouter la convention">
    </form>



<script>
    const deb = document.getElementById("date_deb");
    const fin = document.getElementById("date_fin");

    function forcedate() {
        fin.min = deb.value;
    }

    deb.addEventListener("change", forcedate)
</script>
{%endblock%}