{% extends "menu.html" %}

{% block title %}Création d'une nouvelle convention{% endblock %}

{% block content %}
  <h1> Ajout d'une nouvelle convention </h1>
  {% if context.success %}
  <h2 style="color: green;"> Convention ajoutée avec succès! </h2>
  {% endif %}
  <br>
    <form class="form-create-client" method="post" style="display : flex; flex-direction: column; gap: 5px;">
      <input name="nom_conv" type="text" placeholder="Nom de la convention" required>
      <input name="desc_conv" type="text" placeholder="Description de la convention" >
      <label> Date de début de la convention (si applicable)
      <input name="date_deb" type="date" id="date_deb">
      </label>
      <label> Date de fin de la convention (si applicable)
      <input name="date_fin" type="date" id="date_fin">
      </label>
      <input name="doc_conv" type="text" placeholder="Lien vers le contrat associé">
      <select name="client_id" required>
          <option value=""> -- Avec quel client la convention est-elle passée? -- </option>
          {% for i in context.clients %}
          <option value={{i.client_id}}> {{i.nom_entreprise}} </option>
          {% endfor %}
      </select>

      <input type="submit" class="bouton-ajouter-client" value="Ajouter la convention">  
    </form>

    
  </div>

<script>
    const deb = document.getElementById("date_deb");
    const fin = document.getElementById("date_fin");

    function forcedate() {
        fin.min = deb.value;
    }

    deb.addEventListener("change", forcedate)
</script>
{%endblock%}