{% extends "menu.html" %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block content %}

  <div class="actions" style="justify-content: flex-end; gap:8px; align-items:center;">
    <h1 style="flex:1">Modifier l'utilisateur</h1>

    <a href="{{ url_for('utilisateurs.utilisateurs_detail', uid=utilisateur.utilisateur_id) }}" class="primary-button icon-button" aria-label="Annuler">
      <!-- arrow-left / cancel icon -->
      <i class="fa-solid fa-arrow-left"></i>
    </a>



    <form action="{{ url_for('utilisateurs.supprimer_utilisateur', user_id=utilisateur.utilisateur_id) }}" method="post"
      onsubmit="return confirm('Voulez-vous vraiment supprimer cet utilisateur ? Cette action est irréversible !');">
     <button type="submit" class="danger-button icon-button" aria-label="Supprimer" id="delete-interaction-button" title="Supprimer" data-id="{{ utilisateur.utilisateur_id }}">
        <!-- trash icon -->
        <i class="fa-solid fa-trash"></i>
      </button>
    </form>


  </div>

  <section class="container" style="margin-top:12px;">

    <form class="form-create-user" method="POST" style="display : flex; flex-direction: column; gap: 5px;">
      <div class="input-box">
        <label class="form-label" for="email">E-mail</label>
        <input id="email" name="email" type="email" value="{{utilisateur.email}}" placeholder="e-mail" required>
        <div class="field-error" id="error-email"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="nom">Nom</label>
        <input id="nom" name="nom" type="text" value="{{utilisateur.nom}}" placeholder="Nom">
        <div class="field-error" id="error-nom"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="prenom">Prénom</label>
        <input id="prenom" name="prenom" type="text" value="{{utilisateur.prenom}}" placeholder="Prénom">
        <div class="field-error" id="error-prenom"></div>
      </div>

      <div class="input-box">
        <label class="form-label" for="role">Rôle</label>
        <select id="role" name="role" required>
            <option value="" hidden=> --Sélectionnez un rôle-- </option>
            {% for i in context.roles_possibles %}
            <option value={{i.role_id}} {% if utilisateur.role_id == i[0] %}selected{% endif %} > {{i.nom}} </option>
            {% endfor %}
        </select>
        <div class="field-error" id="error-role"></div>
      </div>
      <div class="input-box">
        <label class="form-label" for="est_intervenant">Le membre a le statut d'intervenant</label>
          <select id="est_intervenant" name="est_intervenant" required>
            <option value="" hidden> --Sélectionnez une option-- </option>
            <option value="True" {% if utilisateur.est_intervenant%}selected{% endif %} >Oui</option>
            <option value="False" {% if not utilisateur.est_intervenant%}selected{% endif %} >Non</option>
          </select>
          <div class="field-error" id="error-est_intervenant"></div>
      </div>
      <div class="input-box">
          <label class="form-label" for="h_disp">Nombre d'heures moyen par semaine où l'intervenant est disponible</label>
          <input name="h_disp" value="{{utilisateur.heures_dispo_semaine}}" id="h_disp" type="number" min="0" max="168">
          <div class="field-error" id="error-h_disp"></div>
      </div>
      <div class="input-box">
        <label class="form-label" for="doc_car">Lien - Carte vitale</label>
        <input id="doc_car" name="doc_car" value="{{utilisateur.doc_carte_vitale}}" type="url" placeholder="https://...">
        <div class="field-error" id="error-doc_car"></div>
      </div>
      <div class="input-box">
        <label class="form-label" for="doc_cni">Lien - CNI</label>
        <input id="doc_cni" name="doc_cni" value="{{utilisateur.doc_cni}}" type="url" placeholder="https://...">
        <div class="field-error" id="error-doc_cni"></div>
      </div>
      <div class="input-box">
        <label class="form-label" for="doc_adh">Lien - Document d'adhésion</label>
        <input id="doc_adh" name="doc_adh" value="{{utilisateur.doc_adhesion}}" type="url" placeholder="https://...">
        <div class="field-error" id="error-doc_adh"></div>
      </div>
      <div class="input-box">
        <label class="form-label" for="doc_rib">Lien - RIB</label>
        <input id="doc_rib" name="doc_rib" value="{{utilisateur.doc_rib}}" type="url" placeholder="https://...">
        <div class="field-error" id="error-doc_rib"></div>
      </div>
      <input type="submit" class="primary-button" value="Modifier l'utilisateur">
    </form>


  </section>


    <script src="/scripts/interactions.js"></script>

{% endblock %}
