<!-- From Uiverse.io by mi-series -->
  <section class="container">
    <div class="actions" style="justify-content: flex-end; gap:8px;">
      <button id="expand-modal" type="button" class="primary-button icon-button" aria-label="Ouvrir la page complète">
        <!-- expand icon -->
        <i class="fa-solid fa-expand"></i>
      </button>
      <button id="close-modal" type="button" class="primary-button icon-button" aria-label="Fermer">
        <!-- close icon -->
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
    <header>Ajout d'une interaction</header>
    <h2 class="success-message hidden"> Interaction ajoutée avec succès ! </h2>


    <form class="form" id="interaction-form">
        <div class="column">

            <div class="input-box">
              <label for="interaction-type">Support</label>
            <div class="select-box">
              <select name="type" id="interaction-type">
                <option hidden>Type</option>
                  {% for t in Interaction.interactions_types %}
                <option value="{{ t }}">{{ Interaction.types_names.get(t, 'Inconnu') }}</option>
                  {% endfor %}
              </select>
            </div>
            <!-- Conteneur d'erreur pour le type -->
            <div class="field-error text-danger" id="error-type"></div>
            </div>
            <div class="input-box">
              <label for="interaction-date">Date de l'interaction</label>
              <input name="interaction-date" required placeholder="Date interaction" type="date" id="interaction-date">
              <!-- Conteneur d'erreur pour la date -->
              <div class="field-error text-danger" id="error-interaction-date"></div>
            </div>
        </div>

        {% include 'components/search_client.html' %}

        <div class="input-box">
            <label for="title">Titre</label>
            <input name="title" required placeholder="Objet de l'interaction" type="text" id="title">
            <!-- Conteneur d'erreur pour le titre -->
            <div class="field-error text-danger" id="error-title"></div>
        </div>
        <div class="input-box">
            <label for="content">Contenu</label>
            <textarea name="content" required placeholder="Détails de l'interaction..." id="content"></textarea>
            <!-- Conteneur d'erreur pour le contenu -->
            <div class="field-error text-danger" id="error-content"></div>
        </div>
        <button type="submit" id="submit-create-interaction">Enregistrer</button>
    </form>
  </section>