
{% extends "menu.html" %}

{% block title %}Conventions{% endblock %}

{% block content %}


        <h1>{{context.convention.nom}} </h1>

        <p>{{context.convention.description}} </p>

         <h2>Information sur le clients</h2>

        <div class="client">
          
          <p> Le client est l'entreprise {{context.client.nom_entreprise}}. Le contact de TNS dans l'entreprise est 
            {{context.client.contact_nom}} joignable via l'addresse email {{context.client.contact_email}} ou via le numéro
            de téléphone {{context.client.contact_telephone}}.   </p>
          <p> Le membre de TNS qui en relation avec l'entreprise est {{context.utilisateur.prenom}} {{context.utilisateur.nom}}</p>

        </div>

        


        <h2>Projet(s) lié(s) à la convention</h2>

        {% for projet in context.projets %}

         <div class="projet"> 
          <h3>Projet numéro  {{projet.id}} : {{projet.nom_projet}}</h3>  
          
          <p>{{projet.description}}</p>
        
        </div>

        {% endfor %}



{% endblock %}