{% extends "menu.html" %}

{% block title %}Conventions{% endblock %}

{% block content %}


        <h1>Liste des conventions</h1>

        <p>Ici se trouvent toutes les conventions courantes ou passées signées par Telecom Nancy Service. </p>

        <div class="clients-container">
        <div class="client-row" id="en-tete-clients">
            <span class="col">ID</span>
            <span class="col">Nom de la convention</span>
            <span class="col">Clients liés à la convention</span>
            <span class="col">Début de la convention</span>
            <span class="col">Fin de la convention</span>
        </div>

        {% for convention in context %}

        <div class="client-card" onclick="window.location.href='/conventions/{{ convention.id }}'">
          <div class="client-row">
            <span class="col">{{ convention.id }}</span>
            <span class="col">{{ convention.nom }}</span>
            <span class="col">{{ convention.nom_client }}</span>
            <span class="col">{{ convention.date_debut }}</span>
            <span class="col">{{ convention.date_fin }}</span>
          </div>
        </div>


        {% endfor %}
      </div>

{% endblock %}