<!doctype html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>{% block title %}TNS Lovers{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fontawesome/css/all.min.css') }}">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='tns_logo_icon_couleur.svg')}}"/>
</head>
<body>

    <!-- MENU GLOBAL -->
    <nav class="main-menu">
        <img class="main-menu-img" src="{{ url_for('static', filename='tns_logo_icon_couleur.svg') }}" alt="Logo TNS Lovers" width="60">

        <ul class="main-menu-items">
            <li><a href="{{ url_for('accueil') }}">Accueil</a></li>
            <li><a href="{{ url_for('clients') }}">Clients</a></li>
            <li><a href="{{ url_for('projets') }}">Projets</a></li>
            <li><a href="{{ url_for('interactions.interactions_home') }}">Interactions</a></li>
            <li><a href="{{ url_for('utilisateurs') }}">Utilisateurs</a></li>
            <li><a href="{{ url_for('recherche_avance') }}">Recherche</a></li>
        </ul>

        {% if current_user %}
        <div class="user-menu">
            <span class="user-name">{{ current_user.prenom }} {{ current_user.nom }}</span>
            <div class="user-menu-items">
                <a href="#">Profil</a>
                <a href="#">Paramètres</a>
                <a href="{{ url_for('logout') }}" class="logout"><i class="fa-solid fa-right-from-bracket"></i> Déconnexion</a>
            </div>
        </div>
        {% endif %}

    </nav>

    <!-- CONTENU VARIABLE DES PAGES -->
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <nav class="footer-menu">
        
            <ul class="footer-menu-items">
                <li><a href="{{ url_for('cgu') }}">CGU</a></li>
                <li><a href="{{ url_for('contact') }}">Contact</a></li>
                <li><a href="{{ url_for('rgpd') }}">RGPD</a></li>
                
            </ul>
        </nav>
    </footer>

</body>
</html>
