{% extends "menu.html" %}

{% block title %}Utilisateurs{% endblock %}

{% block content %}

<h1>Liste des utilisateurs</h1>

<form class="search-form-utilisateurs" method="get" action="/utilisateurs" >
    <input type="text" name="q" placeholder="Rechercher..." value="{{ request.args.get('q','') }}">
    <button type="submit">Rechercher</button>
</form>

<div class="actions-utilisateurs">
    <a href="{{ url_for('create_user') }}" class="bouton-ajouter-utilisateur">Ajouter un utilisateur.</a>
</div>

<div class="grid-utilisateurs">
    {% for utilisateur in utilisateurs_db %}
    <div class="card-utilisateurs" onclick="window.location.href='/utilisateurs/{{ utilisateur['utilisateur_id'] }}'">
        <h3>{{ utilisateur.prenom }} {{ utilisateur.nom }}</h3>
        <p>Rôle : {{ utilisateur['role_nom'] or 'Inconnu' }}</p>
        {% if utilisateur.est_intervenant %}
        <p>Intervenant</p>
        {% endif %}
    </div>
    {% endfor %}
</div>

{% endblock %}